a {
	color: #1544E9FF;
	background-color: #FF0000FF;
	text-decoration-color: #EAF00EFF;
}

div {
	width: 300px;
	height: 400px;
	overflow: visible;
}

.box {

	width: 300px;
	text-align: center;
	border: 2px solid #00FFFFFF;
}

